*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1600px;
    margin: 0 auto;
    /* background-color: #f3efed; */
}
/* shared style */

.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2{
    font-size: 45px;
    font-weight: 900;
} 
.color-orange{
    color: #FD6E0A;
    
}

.btn{
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.section-heading{
    max-width: 827px;
    /* max-width: auto; */
    text-align: center;
    margin: 0 auto;
    /* padding: 209px 157px 221px 156px; */
}
.section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 18px;
    color: rgba(117, 117, 117, 1);
    margin-bottom: 30px;
    line-height: 30px;

}
.text-center{
    text-align: center;
    margin-top: 50px;
}

/* main style */

header{
    background-color: #FFF8F3;
    background: url("../images/developer.png"), url("../images/header_bg.png"), #FFF8F3;
    background-position: 23px 38px, bottom right;
    /* background-position: 38px 1441px 25px 23px , 319px 203px 0 767px; */
    background-repeat: no-repeat;
    padding-top: 50px;
}

nav{
    width: 86%;
    max-width: 1850px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

#banner-parent{
    /* border: 1px solid red; */
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner-parent .banner-content{
    /* max-width: 585px; */
    max-width: 720px;
    max-height: 356px;
}
#banner-parent .banner-content h2{
    color: rgba(71, 71, 71, 1);
    font-size: 45px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 5px;
}
#banner-parent .banner-content h1{
    /* width: 498px; */
    /* height: 116px; */
    color:  var(--Dark 01, rgba(24, 24, 24, 1));
    font-size: 85px;
    margin-bottom: 20px;
    font-weight: 700;
    /* line-height: 116px; */
    text-align: left;
}
#banner-parent .banner-content p{
    font-size: 18px;
    color: rgba(117, 117, 117, 1);
    margin-bottom: 30px;
}
#banner-parent .banner-image{
    max-width: 584px;
    /* height: 676px; */
    vertical-align: middle;
    margin-bottom: -5px;
}

#about, #skills, #resume{
    padding-top: 130px;

}
#about .about-container{
    width: 86%;
    max-width: 1850px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 157px;
    /* justify-content: flex-start; */
}
#about .about-container .about-info{
    display: flex;
    justify-content: space-between;
    padding: 30px 22.5px 0;
}
.about-info p{
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}
.about-info h4{
    font-size: 20px;
    line-height: 30px;
    
}

#skills .skills-container{
    width: 86%;
    max-width: 1850px;
    margin: 0 auto;
}

#skills .skills-container .skills-box{
    display: flex;
    gap: 24px;
    border-radius: 5px;
    
}
.skills-box .skill-card{
    max-width: 267px;
    box-shadow: 0px 6px 50px 0 rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255, 1);
    /* border: 1px solid red; */
    padding: 30px;
}
.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}
.skill-card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 30px;
}
.skill-card p{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}
#resume .resume-container{
    width: 86%;
    max-width: 1850px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;
}
.resume-container hr{
    margin: 30px 0;
}
.resume-container .section-title{
    font-size: 30px;
    color: #474747;
    margin-bottom: 30px;
}
.resume-card{
    max-width: 511px;
    margin-right: 47px;
}
.resume-card .card-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;
}
.card-info{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 20px;
}
.card-text{
    font-size: 16px;
    font-weight: 400;
    color: #757575;
    line-height: 28px;
}

footer{
    margin-top: 130px;
    background-color: #FFF8F3;
    padding: 130px 0;
}
footer .footer-container{
    width: 86%;
    max-width: 1850px;
    margin: 0 auto;
    display: flex;
    gap: 117px;
}
.footer-container h2{
    font-size: 35px;
    font-weight: 700;
    /* line-height: 48px; */
    margin-bottom: 20px;
    color: #181818;
}
.footer-container .social{
    max-width: 562px;
}
.footer-container p{
    font-size: 16px;
    line-height: 28px;
    color: #474747;
    margin-bottom: 30px;
}
.footer-container .icons a{
    margin-right: 24px;
}
.footer-container form input[type="text"], input[type="email"], textarea{
    width: 461px;
    padding: 18px 30px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
}